<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Check Data Page</title>
</head>
<body>
    <div class = "mainContainer">

        <div class = "logoContainer"></div>
        <div class = "loginCont">

            <h1> <%= clinicName %> </h1>

            <form action = "/quotes" method = "POST"> 
          
                <p><label for="clinicName">Clinic Name:</label>  
                
                    <input type="text" name="clinicname" id="clinicName" placeholder="Please Enter the Clinic Name" value = "<%- clinicName %>"> </p>
                
                <p><label for="clinicAddress">Clinic Address:</label> 
                
                    <input type="text" name="clinicAddress" id="clinicAddress" placeholder="Please Enter The Clinic Address" value = "<%- clinicAddress %>"> </p>

                    <p><label for="invoiceDate">Date Issued:</label>  
                
                        <input type="text" name="invoiceDate" id="invoiceDate" placeholder="Please Enter The Date of Invoice" value = "<%= invoiceDate %>"> </p>
                    
                    <p><label for="Items">Products:</label> 

                        <% for(var i = 0; i < items.length; i++) { %>
                            <input type="text" name="Info" id="Info" placeholder="Product" value = "<%= items[i] %>">
                          <% } %>
                                                                          
               
                <p><input type = "submit" value = "Confirm"> </p>
                    </form> </div>
                              
        </div>

    </div>
    </div>

    <script src = "js/dataValidation.js"></script>
</body>
</html>